

		<!-- KAŽDÝ ŘÁDEK SE VKLÁDÁ DO ROW -->
		<div class="row" style="margin:auto;width: 700px;text-align:center;">

			<!-- DVA SLOUPCE -->
			<div id="bacic_contacts" class="col-sm-10" style="margin-left:25px">
				<h3 id="career">Školní praxe ve firmě <a href="http://icz.cz/">ICZ, a. s.</a></h3>
<p>
	Ve čtvrtém ročníku jsem byl poslán na praxi do slopečnosti ICZ. Odborná praxe probíhala na oddělení s názvem Projektový kontroling. Oddělení bylo rozděleno do dvou částí, první se zabývala vstupními a výstupními dokumenty druhá se starala o interní dokumenty. Náplňí byly administrativní činosti: třízení dokumentů, digitalizace dokumentů, kontrola elektronických dat s tištěnou verzí.
</p>

<h3 id="career">Recepční ve <a href="http://asbsquash.cz">Squashovém centru ASB</a></h3>
<p>
Mou prací byla péče o klienty, práce v rezervačním systému Bizzy, obsluha squashových kurtů, sauny, masérny.
</p>

<h3 id="career">Správce E-shopu <a href="http://profi-technika.cz/">Profi-technika.cz</a> <br/> (Aktuální)</h3>
<p>
	Mím úkolem je starat se o nabídku e-shopu. (kontrola, přidávání a mazaní produktů, vytváření slevových akcí) Také se starám o komunikaci jak s dodavateli tak zákazníky a expedici zásilek.
</p>
<h3 id="career">Správce Facebook účtu spolku <a href="http://videnohmatem.braillnet.cz">Viděno hmatem</a> <br/> (Aktuální)</h3>
<p>
	Viděno hmatem je spolek zabívající se podporou zrakově postižených studentů a absolventů Gymnázia a střední školy pro zrakově postižené v Praze Butovicích.
</p>

			</div>
	</div>

</div>

</div>
