
			<div class="col-sm-10" style="text-align:center;">
				<span style="display:inline-block">Všechna práva vyhrazena</span>
				<span style="display:inline-block">&copy; <a href="https://jsindelar.cz/">Jakub Šindelář</a></span>
				<span style="display:inline-block">verze webu: 3.0.0</span>
			</div>


