<nav style="text-align:center;margin-bottom: 50px;margin-top:50px;">
    <ul>
		<li id="button"><a href="/">Home</a></li>
		<li id="button"><a href="<%= :contacts %>">Kontaktní informace</a></li>
		<li id="button"><a href="<%= :career %>">Kariéra</a></li>
		<li id="button"><a href="<%= :webs %>">Spřátelené weby</li></a></li>
	</ul>
</nav>