<h2 class="row" style="text-align:center">Kontakt</h2>
<div id="" style="width:350px;margin:0 auto;border: solid; background-color:#1e90ff;-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;">
<div>
<span style="width: 140px;display:inline-block;margin-left:20px;">Jméno:</span>
<span style="width: 140px;display:inline-block">Jakub</span>
</div>

<div>
<span style="width: 140px;display:inline-block;margin-left:20px;">Příjmení:</span>
<span style="width: 140px;display:inline-block">Šindelář</span>
</div>

<div>
<span style="width: 140px;display:inline-block;margin-left:20px;">Adresa:</span>
<span style="width: 140px;display:inline-block">Hekova 114/6</br>163 00 Praha 6</span>
</div>

<div>
<span style="width: 140px;display:inline-block;margin-left:20px;">Tel.:</span>
<span style="width: 140px;display:inline-block">+420 734 300 346</span>
</div>

<div>
<span style="width: 140px;display:inline-block;margin-left:20px;">Email:</span>
<span style="width: 140px;display:inline-block" mailto="j.sindelar01@gmail.com">j.sindelar01@gmail.com</span>
</div>

<div>
<span style="width: 140px;display:inline-block;margin-left:20px;">ID datové schránky:</span>
<span style="width: 140px;display:inline-block">ek3gdd4</span>
</div>
