<header class="row" style="text-align:center">
  <h1>Vítejte na mém webu</h1>
</header>
<div class="row">
<%= erb :home %>
</div>
<div class="row">
<%= erb :internet_contacts %>
</div>
<footer class="row">
  <%= erb :footer %>
</footer>