<head>
<script src="lightbox/js/jquery-1.11.0.min.js"></script>
<script src="lightbox/js/lightbox.min.js"></script>
<link href="lightbox/css/lightbox.css" rel="stylesheet" />
</head>
</div>
<h2  class="row" style="text-align:center">Na internetu mě také najdete na:</h2>

<div id="" style="width:300px;margin:0 auto;border: solid;background-color:	#1e90ff;-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
">
<div>
<span style="width: 50px;display:inline-block;text-align:right;"><img width="25px" src="/images/fb.png" alt="Facebook ico"></span>
<span style="width: 100px;display:inline-block">Facebook:</span>
<span style="width: 100px;display:inline-block"><a href="https://www.facebook.com/fanatikcz" alt="Facebook">fanatikcz</a></span>
</div>

<div>
<span style="width:50px;display:inline-block;text-align:right;"><img width="25px" src="/images/twitter.png" alt="Twitter ico"></span>
<span style="width: 100px;display:inline-block">Twitter:</span>
<span style="width: 100px;display:inline-block"><a href="https://twitter.com/fanatik_cz" alt="Twitter">@fanatik_cz</a></span>
</div>

<div>
<span style="width:50px;display:inline-block;text-align:right;"><img width="25px" src="/images/instagram.png" alt="Instagram ico"></span>
<span style="width: 100px;display:inline-block">Instagram:</span>
<span style="width: 100px;display:inline-block"><a href="https://www.instagram.com/fanatik_cz/" alt="Instagram">fanatik_cz</a></span>
</div>

<div>
<span style="width:50px;display:inline-block;text-align:right;"><img width="25px" src="/images/gplus.png" alt="Google plus ico"></span>
<span style="width: 100px;display:inline-block">Google Plus:</span>
<span style="width: 100px;display:inline-block"><a href="https://plus.google.com/u/0/110754736931834733238/posts" alt="Google Plus">+1</a></span>
</div>


<div>
<span style="width:50px;display:inline-block;text-align:right;"><img width="25px" src="/images/foursquare.png" alt="Foursquare ico"></span>
<span style="width: 100px;display:inline-block">Foursquare:</span>
<span style="width: 100px;display:inline-block"><a href="https://foursquare.com/fanatik_cz" alt="Foursquare">fanatik_cz</a></span>
</div>


<div>
<span style="width:50px;display:inline-block;text-align:right;"><img width="25px" src="/images/github.png" alt="GitHub ico"></span>
<span style="width:100px;display:inline-block">Github:</span>
<span style="width: 100px;display:inline-block"><a href="https://github.com/jakubsindelar" alt="GitHub">jakubsindelar</a></span>
</div>
</div>

<h2 class="row" style="text-align:center">QR code Vcard</h2>
<center><a href="/images/qrcode.svg" data-lightbox="image-1" data-title="QR code"><img width="100px"  src="/images/qrcode.svg" alt="QR code"></a></center>

